<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title> HashTag </title>
	<link rel= "stylesheet" type = "text/css" href = "styles.css"/>

	<title>Main</title>
</head>
	<body>
        
		<div class="container">
			<div class="main">
				<form action = "/main", method="post">
					<input type="submit" id= "register" name = "search" value ="Search For Mentor">
				</form>
				
			</div>

			<div style="background-image:'img/kayode.jpg';background-size:cover">	
				<a href="/main">
					<p></p>
				</a>
			</div>
		</div>


	</body>
</html>