<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title> HashTag </title>
	<link rel= "stylesheet" type = "text/css" href = "styles.css"/>

	<title>Main</title>
</head>
	<body>
	   			
    	
    	<div class="container">
			<div style="display:table-cell">
					<h2 style="color:gold; left:0px; right:0px"> Welcome Kayode</h2>
			</div>
		</div>
    	<div class="container">
			<div class="main">
				<div style= "layout:align-center; display:block">
					<img src="img/kayode.jpg" height="100%" width="100%">
				</div>
			</div>
		</div>
    
		<div class="container">
			<div class="main">
				<form action = "/main", method="post">
					<input type="submit" id= "register" name = "search" value ="Search For a Mentor">
				</form>
				
			</div>
		</div>


	</body>
</html>