<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title> HashTag </title>
		<link rel= "stylesheet" type = "text/css" href = "styles.css"/>
		<title>Search Page</title>
	</head>

	<body>
		<div class="container">
			<div class="main">
				<form class="form" method="post" action="/search" id ="signup">
				<h2>Search Profiles</h2>
				
				<fieldset>
					<legend> Age </legend>
					<input type="radio" name="age" value="child" checked> Child: 0-12 <br>
					<input type="radio" name="age" value="teen"> Teen: 13-19 <br>
					<input type="radio" name="age" value="yngAdlt"> Young Adult: 20-39 <br>
					<input type="radio" name="age" value="midAge"> Middle-Age Adult: 40-59 <br>
					<input type="radio" name="age" value="elder"> Elderly: 60+ <br>
				</fieldset>

				<fieldset>
					<legend> Sex </legend>
					<input type="radio" name="sex" value="male" checked> Male <br>
					<input type="radio" name="sex" value="female"> Female <br>
					<input type="radio" name="sex" value="other"> Other <br>
				</fieldset>

				<fieldset>
					<legend> Religion </legend>
					<input type="radio" name="religion" value="christ" checked> Christian <br>
					<input type="radio" name="religion" value="jewish"> Judaism <br>
					<input type="radio" name="religion" value="hindu"> Hinduism <br>
					<input type="radio" name="religion" value="budd"> Buddhism <br>
					<input type="radio" name="religion" value="islam"> Islam <br>

				</fieldset>

				<fieldset>
					<legend> Ethnicity </legend>
					<input type="radio" name="ethnicity" value="african" checked> African <br>
					<input type="radio" name="ethnicity" value="black"> Black / African American <br>
					<input type="radio" name="ethnicity" value="carib"> Caribbean <br>
					<input type="radio" name="ethnicity" value="latinx"> Latino / Latina <br>
					<input type="radio" name="ethnicity" value="asian"> Asian <br>
					<input type="radio" name="ethnicity" value="hawaiian"> Hawaiian <br>
					<input type="radio" name="ethnicity" value="nativeAm"> Native American <br>
				</fieldset>
				<fieldset>
					<legend> Income Level </legend>
					<select name="income">
						<option value="low"> Low Class</option>
						<option value="mid"> Middle Class</option>
						<option value="high"> High Class</option>
					</select>
				</fieldset>

				<fieldset>
					<legend> Education Level </legend>
					<select name="education" required>
						<option value="phd"> PhD </option>
						<option value="master"> Masters </option>
						<option value="bach"> Bachelors </option>
						<option value="assoc"> Associate </option>
						<option value="hiSch"> High School </option>
						<option value="genEd"> General Education </option>
						<option value="midSch"> Middle School </option>
						<option value="elemSch"> Elementary School </option>
						<option value="other"> Other </option>
					</select>
				</fieldset>

				<fieldset>
					<legend> Areas of Interest </legend>
					<select name="interest" required>
						<option value="cloud"> Cloud Computing </option>
						<option value="frontend"> Front End </option>
						<option value="ux"> UX Design </option>
						<option value="ml"> Machine Learning </option>
						<option value="compvison"> Computer Vision </option>
						<option value="vr"> Virtual Reality</option>
						<option value="backend"> Back End </option>
						<option value="fullstack"> Full Stack </option>
						<option value="web"> Web Development </option>
						<option value="mobile"> Mobile Development </option>
					</select>
				</fieldset>
				
				<input type="submit" name="search" id="register" value="Search">
				</form>
			</div>
		</div>
	</body>
</html>